a:link, a:visited {
    background-color: red;
    color: white;
    padding: 14 25;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: black;
}
